body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/*-----------------HEADER start------------------*/
/*Обертка с темным цветом*/
.header-line {
  width: 100%;

  background-color: #293449;
}
/*Центровщик верхней линии*/
.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Обертка со светлым цветом*/
.header-wrapper {
  width: 100%;
  min-height: 278px;

  background-color: #f2f6f8;
}
.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
.logo-technomart {
  display: block;
  width: 110px;
  margin: 0;
  padding: 10px 54px 7px 56px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-top: 1px solid #e03643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}
.logo-technomart[href]:hover,
.logo-technomart[href]:focus {
  background-color: #ca2c37;
}
.logo-technomart[href]:active {
  background-color: #ba2732;
}
.main-search {
  width: 270px;
  height: 42px;

  background-color: #293449;
}
.main-search input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  height: 42px;
  margin: 0;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;
  border: none;
}
.main-search input::-webkit-input-placeholder {
  font-weight: inherit;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
}
.main-search input:-ms-input-placeholder {
  font-weight: inherit;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
}
.main-search input::placeholder {
  font-weight: inherit;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
}
.main-search input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-hover.svg");
  outline: none;
}
.main-search input:active,
.main-search input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-active.svg");
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 450px;

  -ms-flex-wrap: wrap;
}
.main-menu li {
  width: 150px;
}
.bookmarks,
.shopping-cart,
.ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;

  line-height: 18px;
}
.bookmarks svg {
  padding-right: 14px;
  padding-left: 17px;
}
.shopping-cart svg {
  padding-right: 17px;
  padding-left: 18px;
}
.ordering {
  justify-content: center;

  background-color: #63a63e;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.bookmarks path,
.shopping-cart path,
.shopping-cart circle {
  opacity: 0.3;
}
.bookmarks:hover,
.bookmarks:focus,
.shopping-cart:hover,
.shopping-cart:focus {
  background-color: #212a3a;
  outline: none;
}
.bookmarks:hover path,
.bookmarks:focus path,
.shopping-cart:hover path,
.shopping-cart:focus path,
.shopping-cart:hover circle,
.shopping-cart:focus circle {
  opacity: 1;

  fill: #ffffff;
}
.main-menu .ordering:hover,
.main-menu .ordering:focus {
  background-color: #5fbb2d;
}
.main-menu a:active {
  opacity: 0.6;
}
.main-menu a,
.main-navigation,
.main-navigation a {
  color: #ffffff;
}
.header-center b {
  width: 197px;
  margin: 49px 71px 40px 52px;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ff5357;
  font-style: italic;
}
.main-address {
  width: 320px;
}
.main-address p:first-child {
  position: relative;

  width: 146px;
  margin: 0;
  margin-top: 46px;
  padding: 10px 50px 11px 68px;

  font-size: 21px;
  line-height: 18px;
  text-align: center;
  color: #fb463c;

  border: 3px solid white;
}
.main-address p:first-child::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}
.main-address p:last-child {
  width: 270px;
  margin: 5px 0 ;

  font-size: 14px;
  text-align: center;
  color: #3d546e;
}
.main-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 300px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.main-registration li {
  margin-top: 46px;
  margin-left: 10px;
}
.main-registration li:first-child {
  width: 121px;
}
.main-registration li:last-child {
  width: 150px;
}
.main-autorization {
  width: 300px;
}
.personal-profile {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 46px;
  margin-bottom: 4px;
  padding-top: 12px;
  padding-bottom: 12px;

  line-height: 21px;

  background-color: #ffffff;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.personal-profile svg {
  padding-right: 14px;
  padding-left: 14px;
}
.name-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}
.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  font-size: 0;

  background-color: #ffffff;
  cursor: pointer;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.logout svg {
  padding-right: 10px;
  padding-left: 10px;
}
.main-autorization .order-management:first-of-type {
  margin-right: 28px;
  margin-left: 19px;
}
.order-management {
  font-size: 16px;
  text-align: center;
  color: #32425c;
  text-decoration: underline;
}
.personal-profile::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 108px;
  z-index: 1;

  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}
.order-management:hover,
.order-management:focus {
  color: #ee3643;
}
.order-management:active {
  color: #32425c;

  opacity: 0.3;
}
.add-action {
  background-color: #ee3643;
}
.enter-link,
.registration-link {
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}
.enter-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.enter-link svg {
  padding-right: 14px;
  padding-left: 14px;
}
.registration-link {
  display: block;
  padding: 12px 25px 12px 25px;
}
.enter-link:focus,
.registration-link:focus,
.enter-link:hover,
.registration-link:hover {
  color: #ee3643;

  outline: none;
}
.enter-link:active,
.registration-link:active,
.name-profile:active {
  color: rgba(0, 0, 0, 0.3);
}
.enter-link:focus path,
.enter-link:hover path,
.name-profile:focus path,
.name-profile:hover path,
.logout:focus path,
.logout:hover path {
  fill: #32425c;
}
.enter-link:active path,
.name-profile:active path,
.logout:active path {
  fill: rgba(0, 0, 0, 0.3);
}

/*центровщик навигации*/
.navigation-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  height: 60px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px #293449;
          box-shadow: inset 0 -5px #293449;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.main-navigation a,
.current-navigation {
  display: block;
  margin: 0;
  padding-top: 21px;
  padding-right: 30px;
  padding-bottom: 21px;
  padding-left: 30px;

  line-height: 17px;
  color: #ffffff;
}
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
  outline: none;
}
.main-navigation a:active {
  color: rgba(225, 225, 225, 0.5);

  background-color: #1d2739;
}
/*______________HEADER end______________________*/

/*______________CATALOG start___________________*/
.container {
  margin-top: 0;

  background-color: #ffffff;
}
/*Обертка каталога, сортировки и пагинации*/
.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 700px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
/*Обертка каталога, сортировки, пагинации и фильтров*/
.catalog-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
/*центровщик всего каталога, кроме статьи*/
.container-center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 357px;
  min-height: 15px;
  margin: 0;
  padding: 0;
  padding-top: 22px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.breadcrumbs a,
.breadcrumbs li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.breadcrumbs li {
  position: relative;

  padding-left: 42px;
}
.breadcrumbs li:first-child::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -14px;
  z-index: 1;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 16px;
  z-index: 2;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*обертка + центровщик заголовков каталога */
.punchers-background {
  width: 940px;
  min-height: 89px;
  margin: 19px 0 20px 0;

  background-color: #f2f6f8;
}
.punchers-background h1 {
  margin: 0;
  padding: 30px 29px 29px 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
/*_____________CATALOG FILTERS start_________*/
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  min-height: 747px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}
.filters h2,
.sorting h2 {
  width: 200px;
  margin: 0;
  padding: 10px 0 10px 20px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}
.filter {
  margin-top: 12px;
}
.filters fieldset,
.brands ul,
.power ul {
  margin: 0;
  padding: 0;

  border: none;
}
.filters legend {
  margin-bottom: 13px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 0 0 3px 3px;
}
.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}
.range-controls .bar {
  width: 160px;
  height: 2px;

  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  margin-bottom: 25px;

  font-size: 0;
}
.price-controls input {
  width: 95px;
  height: 38px;
  padding: 0;

  font-size: 17px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}
.min-price input {
  margin-right: 30px;
}
.filters .range {
  margin-bottom: 15px;

  border-bottom: 1px solid #e5e5e5;
}
.filters .brands {
  margin-bottom: 17px;
  padding-bottom: 4px;

  border-bottom: 1px solid #e5e5e5;
}
.brands-label {
  position: relative;

  display: block;
  height: 25px;
  margin-bottom: 15px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  cursor: pointer;
}
.brands-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.brands-label input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.3;
}
.brands-label input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.3;
}
.brands-label input[type="checkbox"]:hover + .checkbox-indicator {
  background-image: url("../img/checkbox-off-hover.svg");
}
.brands-label input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}
.brands-label input[type="checkbox"]:checked:hover + .checkbox-indicator {
  background-image: url("../img/checkbox-on-hover.svg");
}
.power-label {
  position: relative;

  display: block;
  height: 25px;
  margin-bottom: 15px;
  padding-left: 35px;

  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  cursor: pointer;
}
.power-label input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.power-label input[type="radio"]:hover + .radio-indicator {
  background-image: url("../img/radio-off-hover.svg");
}
.power-label input[type="radio"]:checked + .radio-indicator {
  background-image: url("../img/radio-on.svg");
}
.power-label input[type="radio"]:checked:hover + .radio-indicator {
  background-image: url("../img/radio-on-hover.svg");
}
.power-label input[type="radio"]:disabled + .radio-indicator {
  opacity: 0.3;
}
.power-label input[type="radio"]:checked:disabled + .radio-indicator {
  opacity: 0.3;
}
.filter-button {
  margin-top: 59px;
  padding: 9px 40px 9px 37px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  border: 1px solid #bdc6ca;
  outline: none;
}
.filter-button:active {
  border: 1px solid #ee3643;
}
/*__________CATALOG FILTERS end_____________*/
/*__________CATALOG SORTING start___________*/
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  width: 700px;
  height: 38px;
  margin-bottom: 20px;

  background-color: #f7f3ec;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}
.sorting-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  width: 417px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}
.sorting-list li {
  padding: 5px 35px 10px 33px;
}
.sorting-list li:first-of-type {
  padding-left: 18px;
}
.sorting-list li:last-of-type {
  padding-right: 22px;
}
.sorting-list a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.sorting svg {
  padding: 14px 17px 14px 2px;

  cursor: pointer;
}
.sorting-icon:hover path,
.sorting-icon:focus path {
  fill: #000000;
}
.sorting-list .current-sorting {
  padding-left: 0;

  color: #ee3643;
}
.sorting-list .unselected-sorting {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}
.sorting-list .unselected-sorting:hover,
.sorting-list .unselected-sorting:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
/*_____________CATALOG SORTING end_______________*/

/*_____________MAIN INDEX start__________________*/
/*_____________INDEX PROMO start_________________*/
/*центровщик промо*/
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 53px;
  padding: 0 10px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.promo article {
  position: relative;

  width: 300px;
}
.slider {
  width: 620px;
  min-height: 266px;
}
.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  align-self: flex-end;
  width: 940px;
  height: 266px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  -ms-flex-item-align: end;
  -ms-flex-line-pack: justify;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
}
.promo h3 {
  margin: 0;
  padding: 21px 0 12px 23px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.promo-materials {
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffbf47;
}
.promo-tools {
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #3bbce3;
}
.promo-tech {
  margin-bottom: 20px;

  background-color: #dc91d8;
}
.promo-actions {
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 20px;

  background-color: #8ed78f;

  -webkit-box-ordinal-group: 2;
}
.promo-delivery {
  -ms-flex-order: 2;
  order: 2;

  background-color: #ffc047;

  -webkit-box-ordinal-group: 3;
}
.promo a {
  display: block;
  width: 93px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding: 11px 21px 9px 21px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.promo a:hover,
.promo a:focus {
  background-color: rgba(0, 0, 0, 0.2) ;
  outline: none;
}
.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}
.new-mark::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 100;

  width: 60px;
  height: 59px;

  background-image: url("../img/flag-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-materials::before {
  content: "";
  position: absolute;
  right: 43px;
  bottom: 26px;
  z-index: 10;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-tools::before {
  content: "";
  position: absolute;
  right: 28px;
  bottom: 28px;
  z-index: 10;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-tech::before {
  content: "";
  position: absolute;
  right: 32px;
  bottom: 30px;
  z-index: 10;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-actions::before {
  content: "";
  position: absolute;
  right: 45px;
  bottom: 25px;
  z-index: 10;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-delivery::before {
  content: "";
  position: absolute;
  right: 31px;
  bottom: 28px;
  z-index: 10;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*_______________PROMO SLIDER start___________*/
.slider {
  position: relative;
}
.slider input[type="radio"] {
  display: none;
}
.slider-slides {
  width: 1340px;
}
.slider .open-catalog {
  position: absolute;
  bottom: 22px;
  left: 25px;
  z-index: 50;

  display: block;
  width: 195px;
  margin: 0;
  padding: 9px 0 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
}
.slider .open-catalog:hover,
.slider .open-catalog:focus {
  background-color: #ca2c37;
  outline: none;
}
.slider .open-catalog:active {
  background-color: #ba2732;
}
.slider-button-left {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 100;

  width: 22px;
  height: 40px;

  background-color: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.slider-button-right {
  content: "";
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 100;

  width: 22px;
  height: 40px;

  background-color: transparent;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.slider-inner {
  height: 267px;
  overflow: hidden;
}
.slider-slides .slide-content {
  float: left;
}
.slider-controls input[type="radio"] {
  display: none;
}
.btn-left,
.btn-right {
  position: absolute;
  z-index: 50;

  width: 6px;
  height: 6px;

  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
}
.btn-left {
  right: 295px;
  bottom: 36px;
}
.btn-right {
  bottom: 36px;
  left: 295px;
}
.slide-content {
  position: relative;

  height: 267px;
}
.slide-content h3 {
  position: absolute;
  top: 23px;
  left: 24px;
  z-index: 30;

  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slide-content p {
  position: absolute;
  top: 61px;
  left: 24px;
  z-index: 30;

  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}
.btn-1:checked ~ .slider-controls label[for="btn-1"],
.btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}
.btn-1:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.btn-2:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-620px);
      -ms-transform: translate(-620px);
          transform: translate(-620px);
}
/*______________PROMO SLIDER end_______________*/
/*______________INDEX PROMO end________________*/

/*____________INDEX POPULAR start______________*/
/*центрвощик*/
.popular-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 19px;

  background-color: #f9f5f0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.popular-background h2 {
  margin: 0;
  padding: 30px 0 30px 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  text-transform: uppercase;
}
.popular-background a {
  width: 253px;
  margin: 25px 24px 27px 0;
  padding-top: 11px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}
.popular-background a:hover,
.popular-background a:focus {
  background-color: #ca2c37;
  outline: none;
}
.popular-background a:active {
  background-color: #ba2732;
  outline: none;
}
.popular-brands {
  margin-bottom: 65px;
}
.popular-brands-catalog a {
  display: block;
  width: 220px;
  margin-bottom: 20px;

  line-height: 0;
}
.popular-brands img {
  margin: 0;
  padding: 0;

  border: 1px solid #eaeaea;
}
.popular-brands-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.popular-brands-catalog a:hover,
.popular-brands-catalog a:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 25px 0 rgba( 41, 52, 73, 0.5) ;
          box-shadow: 0 10px 25px 0 rgba( 41, 52, 73, 0.5) ;
}
.popular-brands-catalog a:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba( 41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba( 41, 52, 73, 0.5);
  opacity: 0.3;
}
/*______________INDEX POPULAR end_____________*/

/*______________CATALOG LIST start____________*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 700px;
  min-height: 994px;

  -webkit-box-pack: justify;
  -ms-flex-line-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 21px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
/*карточка товара start*/
.product-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 218px;

  border: 1px solid #e5e5e5;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}
.product-item img {
  -ms-flex-order: -1;
  order: -1;
  margin-bottom: 20px;

  -webkit-box-ordinal-group: 0;
}
.product-item h3 {
  width: 170px;
  margin: 0;
  margin-bottom: 6px;
  margin-bottom: auto;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}
.old-price {
  padding: 7px 0;

  font-weight: bold;
  font-size: 17px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;

  cursor: pointer;
}
.product-item b {
  -ms-flex-order: 1;
  order: 1;
  width: 160px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 13px 0;
  cursor: pointer;

  -webkit-box-ordinal-group: 2;
}
/*карточка товара end*/
/*модалка товара*/
.modal-purchase {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  display: none;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
}
.product-item:hover .modal-purchase {
  display: block;
}
.product-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba( 41, 52, 73, 0.5) ;
          box-shadow: 0 10px 25px 0 rgba( 41, 52, 73, 0.5) ;
}
.purchase {
  position: relative;

  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}
.purchase::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.purchase:hover:before,
.purchase:focus:before,
.purvhase:active:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  outline: none;
  opacity: 1;
}
.add-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-size: 14px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 3px;
}
.purchase:hover,
.purchase:focus {
  background-color: #5fbb2d;
  outline: none;
}
.purchase:active {
  background-color: #518534;
}
.add-bookmark:hover,
.add-bookmark:focus {
  border: 3px solid #32425c;
  outline: none;
}
.add-bookmark:active {
  opacity: 0.3;
}
/*____________CATALOG LIST end__________________*/
/*____________INDEX SERVISES start______________*/
/*________обертка________*/
.servises-wrapper {
  width: 100%;
  margin-bottom: 59px;

  background-color: #f4f8f9;
}
/*______центровщик сервисов____*/
.servises-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  min-height: 523px;
  margin: 0 auto;
}
.servises h2 {
  margin-top: 68px;
  margin-bottom: 30px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}
.servises a {
  margin-top: 25px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}
.servises a:hover,
.servises a:focus {
  background-color: #ca2c37;
  outline: none;
}
.servises a:active {
  background-color: #ba2732;
}
.servises p {
  margin-right: 540px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.servises h3 {
  font-weight: normal;
  font-size: 36px;
  color: #3d546e;
  text-transform: uppercase;
}
.servises-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin-top: 66px;
}
.servise-slider-controls {
  position: relative;

  flex-shrink: 0;
  width: 240px;
  margin: 0;
  margin-right: 50px;
  padding: 0;

  list-style: none;
  font-size: 21px;
  line-height: 30px;

  -ms-flex-negative: 0;
}
.servise-slider-controls::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/vertical-shadow.png");
  background-repeat: no-repeat;
}
.servise-slider-controls li {
  width: 240px;
  height: 61px;
}
.servise-slider-controls label {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 23px;

  font-size: 21px;
  line-height: 30px;

  background-color: #32425c;
  cursor: pointer;
}
.servise-slider-controls li:first-child,
.servise-slider-controls li:nth-of-type(2) {
  border-bottom: 1px solid #4d637b;
}
.button-1:checked ~ .servise-slider-controls label[for="button-1"],
.button-2:checked ~ .servise-slider-controls label[for="button-2"],
.button-3:checked ~ .servise-slider-controls label[for="button-3"] {
  color: #32425c;

  background-color: #ffffff;
}
.slider-container {
  position: relative;

  overflow: hidden;
}
.servises-list h3,
.servises-list li {
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;

  -ms-flex-negative: 0;
}
.servises-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2200px;
  height: 283px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.servises-list li {
  position: relative;

  width: 650px;
}
.servises-list h3 {
  padding-bottom: 26px;
  padding-left: 31px;

  line-height: 36px;
}
.servises-delivery {
  flex-shrink: 1;
  width: 275px;
  margin: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  -ms-flex-negative: 1;
}
.servises-garantee {
  flex-shrink: 1;
  width: 380px;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 30px;

  -ms-flex-negative: 1;
}
.servises-credit {
  flex-shrink: 1;
  width: 300px;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 30px;

  -ms-flex-negative: 1;
}
.servises-list li:first-child::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 1px;
  z-index: -1;

  width: 468px;
  height: 261px;

  background-image: url("../img/icon-car.png");
  background-repeat: no-repeat;
}
.servises-list li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 2px;
  z-index: -1;

  width: 389px;
  height: 283px;

  background-image: url("../img/icon-medal.png");
  background-repeat: no-repeat;
}
.servises-list li:last-child::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 2px;
  z-index: -1;

  width: 465px;
  height: 285px;

  background-image: url("../img/icon-money.png");
  background-repeat: no-repeat;
}
.servises-slider input[type="radio"] {
  display: none;
}
.credits {
  display: block;
  width: 195px;

  text-align: center;
}
.button-1:checked ~ .slider-container .servises-list {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.button-2:checked ~ .slider-container .servises-list {
  -webkit-transform: translate(-650px);
      -ms-transform: translate(-650px);
          transform: translate(-650px);
}
.button-3:checked ~ .slider-container .servises-list {
  -webkit-transform: translate(-1300px);
      -ms-transform: translate(-1300px);
          transform: translate(-1300px);
}
/*_____________SERVISES SLIDER end_______________
/*_____________INDEX SERVISES end_________________*/

/*_____________INDEX DELIVERY start_______________*/
/*центровщик доставки*/
.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 476px;
  margin: 0 auto;
  padding: 0 10px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.delivery-logistic {
  width: 540px;
}
.delivery-contacts {
  width: 300px;
  padding-left: 5px;
}
.delivery-logistic h3,
.delivery-contacts h3 {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 5px;

  font-weight: normal;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}
.delivery-logistic p,
.delivery-contacts p {
  margin-bottom: 23px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
.delivery-logistic p:last-of-type {
  padding-right: 120px;
}
.delivery-contacts p {
  padding-right: 100px;
}
.delivery-company {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.delivery-company li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;
}
.delivery-company li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -1px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}
.delivery-logistic a,
.delivery-contacts a {
  display: block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}
.delivery-logistic a:hover,
.delivery-logistic a:focus,
.delivery-contacts a:hover,
.delivery-contacts a:focus {
  background-color: #ca2c37;
  outline: none;
}
.delivery-logistic a:active,
.delivery-contacts a:active {
  background-color: #ba2732;
}
.map {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 36px;
  padding: 0;

  background-color: transparent;
  border: none;
}
.button-whrite-us {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum",  Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/*_______________INDEX DELIVERY end_______________*/

/*_______________CATALOG PAGINATION start______________*/
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 286px;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.pagination-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  margin: 0;
  padding: 0 15px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.pagination-next a {
  padding: 0 31px;
}
.pagination-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}
.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid #bdc6ca;
}
.pagination-list a:active {
  border: 1px solid #ee3643;
}
/*_______________CATALOG PAGINATION end____________*/

/*_______________CATALOG ARTICLE start______________*/
.catalog-article-wrapper {
  width: 100%;
  min-height: 261px;

  background-color: #f2f6f8;
}
.puncher-description {
  width: 940px;
  margin: 0 auto;
  padding: 0;

  background-color: #f2f6f8;
}
.puncher-description h2 {
  margin: 0;
  padding: 68px 0 30px 0;

  font-weight: normal;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}
.puncher-description p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
/*__________________CATALOG ARTICLE end____________*/

/*__________________FOOTER start__________________*/
/*обертка верхнего футера*/
.footer-top-wrapper {
  width: 100%;

  background-color: #3d546e;
}
/*центровщик верхнего футера*/
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  min-height: 193px;
  margin: 0 auto;
  padding: 0 10px;

  font-size: 18px;

  background-color: #3d546e;
}
.footer-contacts-wrapper {
  width: 340px;
}
.footer-top img {
  margin-bottom: 21px;
}
.footer-top p {
  margin: 0;
  padding: 0;
  padding-left: 3px;
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.footer-menu-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-end;
  width: 595px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
}
.footer-menu-catalog,
.footer-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}
.footer-menu li {
  margin-top: 38px;
}
.footer-menu-catalog li {
  margin-top: 35px;
  margin-left: 60px;
}
.footer-menu a {
  display: block;

  color: #ffffff;
}
.footer-menu-catalog a {
  display: block;

  color: #ffd180;
}
.footer-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;
  width: 600px;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
}
.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu-catalog a:hover,
.footer-menu-catalog a:focus {
  text-decoration: underline;
}
.footer-menu a:active,
.footer-menu-catalog a:active {
  text-decoration: none;

  opacity: 0.5;
}
/*обертка нижнего футера*/
.footer-bottom-wrapper {
  width: 100%;

  background-color: #293449;
}
/*центровщик нижнего футера*/
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 105px;
  margin: 0 auto;
  padding: 0 10px;

  background-color: #293449;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.footer-bottom-wrapper p {
  width: 284px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}
.footer-company,
.footer-developer p {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 27px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 330px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}
.footer-social li {
  height: 41px;
  padding: 36px 0 29px 0;
}
.footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  margin-right: 4px;

  background-color: #212a3a;
  border-radius: 50%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
  outline: none;
}
.footer-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
}
.footer-developer p {
  padding-left: 6px;
}
.footer-developer p:first-child {
  padding-right: 45px;
}
.footer-developer a {
  color: #ffd180;
}
.footer-developer a:hover,
.footer-developer a:focus {
  text-decoration: underline;

  outline: none;
}
.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}
/*_______________FOOTER end____________________*/
/*________________MODALS_______________________*/
.modal {
  position: fixed;
  z-index: 100;

  background-color: #ffffff;
}
.modal-write-us {
  top: 10%;
  left: 50%;

  display: none;
  width: 620px;
  margin-left: -320px;

  border-top: 7px solid #ff5358;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}
.write-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding: 20px 80px 31px 80px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.write-us-wrapper p {
  margin: 0;
  padding: 0;
}
.write-us-wrapper p:first-child,
.write-us-wrapper p:nth-child(2) {
  width: 220px;
}
.modal-write-us input[type="text"],
.modal-write-us input[type="password"] {
  width: 220px;
  height: 38px;
  margin-top: 5px;
  margin-bottom: 18px;
}
.modal-write-us input[type="text"],
.modal-write-us input[type="password"],
.modal-write-us textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}
.modal-write-us textarea {
  margin-top: 6px;
}
.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.modal-write-us input::-webkit-input-placeholder,
.modal-write-us textarea::-webkit-input-placeholder {
  padding-top: 11px;
  padding-left: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
}
.modal-write-us input:-ms-input-placeholder,
.modal-write-us textarea:-ms-input-placeholder {
  padding-top: 11px;
  padding-left: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
}
.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
  padding-top: 11px;
  padding-left: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
}
.modal-write-us textarea {
  width: 460px;
  height: 114px;
  overflow: auto;

  resize: none;
}
.whrite-us-background {
  width: 100%;

  background-color: #f4f4f4;
}
.modal-write-us input[type="submit"] {
  width: 460px;
  margin: 37px 80px 39px 80px;
  padding: 11px 0 9px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum",  Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}
.modal-write-us input[type="submit"]:hover,
.modal-write-us input[type="submit"]:focus {
  background-color: #ca2c37;
  outline: none;
}
.modal-write-us input[type="submit"]:active {
  background-color: #ba2732;
}
.modal-button {
  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-button:focus {
  outline: none;
}
.modal-button::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 8px;
  z-index: 30;

  width: 21px;
  height: 21px;

  background-image: url("../img/form-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add-cart {
  top: 20%;
  left: 50%;

  display: none;
  width: 620px;
  margin-left: -310px;

  border-top: 7px solid #ee3643;
}
.modal-add-cart p {
  margin: 0;
  padding: 0;
}
.modal-add-cart p:first-of-type {
  padding: 49px 125px 72px 180px;

  font-size: 30px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.modal-add-cart p:first-of-type::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 82px;
  z-index: 20;

  width: 66px;
  height: 66px;

  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
}
.modal-background {
  background-color: #f1f1f1;
}
.modal-background a {
  display: inline-block;
  margin: 39px 0 36px 0;

  font-size: 14px;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
}
.modal-background a:first-of-type {
  margin-right: 16px;
  margin-left: 80px;
  padding: 7px 61px 5px 60px;

  color: #ffffff;

  background-color: #ee3643;
}
.modal-background a:last-of-type {
  padding: 7px 47px 6px 45px;

  color: #000000;

  background-color: #ffffff;
}
.modal-background a:first-of-type:hover,
.modal-background a:first-of-type:focus {
  background-color: #ca2c37;
}
.modal-background a:first-of-type:active {
  background-color: #ba2732;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;
  margin-top: -250px;
  margin-left: -470px;

  background-image: url("../img/map-big.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
}
